:root {
    --pink: hsl(338, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: hsl(224, 32%, 12%);
    background-image: conic-gradient(
        from 0deg 50% 50%,
        blue,
        purple,
        purple,
        blue
    );
    background-blend-mode: multiply;
    color: white;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
}

pre {
    --selector: var(--pink);
    --property: var(--teal);
    --punctuation: var(--white);

    font-size: 3rem;
    font-weight: bold;
    background-color: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;

    position: relative;

    transform-style: preserve-3d;
    transform: 
      perspective(5000px)
      rotateY(20deg)
      rotateX(20deg);
}

.selector {
    color: var(--selector);
}

.property {
    color: var(--property);
}

.punctuation {
    color: var(--punctuation);
}

.property + .punctuation {
    color: var(--property);
}

pre > * {
    text-shadow: 0 0 0.3rem currentColor;
}

pre::before,
pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

/* gradient thingy */
pre::after {
    inset: -1rem;
    background: 
      linear-gradient(-45deg, red, blue);
}